<p>
  BASTA is a group of alumni committed to ending sexual assault at
  Brown. We have created a formalized network to communicate with
  students and maintain pressure on the administration. Our goal is to
  avoid the historical amnesia which forces student activsts at Brown
  to reinvent the wheel every four years when it comes to demanding
  change from the administration. We are committed to working in
  solidarity with students to demand improved resources for survivors
  and harsher sanctions against perpetrators.
</p>

<p>
  Brown can no longer get away with failing its students. Alumni are
  watching.
</p>
