<div class="col-sm-6">
  <p>
    As 400 students marched to protest Brown's handling of sexual
    assault on March 11, alumni and parents flooded the inboxes of
    administrators to express our solidarity. It's not too late to add
    your voice! You can email Brown officials by choosing from our
    three alumni templates. All can be easily modified for
    parents. Don't forget to fill in your CLASS at the top and NAME at
    the bottom.
  </p>
</div>


<div class="col-sm-6">
  <h5>Here's how to choose a template:</h5>

  <ul class="list-group">
    <li class="list-group-item">
      <a href="https://docs.google.com/document/d/1hdoM9RoyZdOPdiTUNkmrgsyBm8SD-Se5GNZoNagghcg/edit">
        I want to withhold donations from Brown until they meet student demands.
      </a>
    </li>
    <li class="list-group-item">
      <a href="https://docs.google.com/document/d/1EfO-221JU_spWu7LA4tTiOpOZkH6OmOZn0K16eo51lg/edit">
        I want to withhold donations, without making specific demands.
      </a>
      </li>
    <li class="list-group-item">
      <a href="https://docs.google.com/document/d/1aMPKdzEUClDXzFzs9zDvMwazHkV7M0o6g9YCrqE91H4/edit">
        I don't want to withhold donations, but do want to express support for the students.
      </a>
    </li>
  </ul>

  <p>
    Email <a href="mailto:brown.basta@gmail.com">brown.basta@gmail.com</a>
    with any questions.
  </p>
</div>
